Repository WyriHaximus/github-action-wait-for-status, pull requests merged in 2020-07, with the labels that each got.

#10 Replace "Github" with "GitHub"
  README.md
  composer.json
Labels: Dependencies 📦, JSON 👨‍💼, MarkDown 📝, PHP 🐘

#13 Test Docker image
  .github/workflows/ci.yml
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#12 Don't look up parent commits
  src/LookUpCommits.php
  tests/AppTest.php
  tests/LookUpCommitsTest.php
Labels: PHP 🐘, Source 🔮, Tests 🧪

#11 Don't run action in dev image
  Dockerfile-build
Labels: Dependencies 📦, Docker 🐳

#14 Ignore certain steps so we can retry tagging if we run out of calls to the GitHub API
  .github/workflows/ci.yml
  .github/workflows/craft-release.yaml
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#15 Ignore "Wait for status checks" on CI
  .github/workflows/ci.yml
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#16 Use tagged v1
  .github/workflows/craft-release.yaml
Labels: CI 🚧, Configuration ⚙, YAML 🍄
