Repository WyriHaximus/github-action-wait-for-status, pull requests merged in 2020-12, with the labels that each got.

#42 fix: handled skipped tasks as successful tasks
  src/StatusCheck/Checks.php
Labels: PHP 🐘, Source 🔮

#43 Update test utilities
  .github/workflows/ci.yml
  Makefile
  composer.json
  composer.lock
  psalm.xml
  src/App.php
  src/Error.php
  src/GetStatusChecksFromCommits.php
  src/LookUpCommits.php
  src/LookUpRepository.php
  src/StatusCheck/Checks.php
  src/StatusCheck/Status.php
  src/StatusCheckInterface.php
  src/WaitForStatusCheckResult.php
  tests/AppTest.php
  tests/ErrorTest.php
  tests/GetStatusChecksFromCommitsTest.php
  tests/LookUpCommitsTest.php
  tests/LookUpRepositoryTest.php
  tests/StatusCheck/ChecksTest.php
  tests/StatusCheck/StatusTest.php
  tests/WaitForStatusCheckResultTest.php
Labels: CI 🚧, Configuration ⚙, Dependencies 📦, JSON 👨‍💼, PHP 🐘, Source 🔮, Tests 🧪, YAML 🍄

#44 Test skipped completed jobs
  infection.json.dist
  tests/StatusCheck/ChecksTest.php
Labels: PHP 🐘, Tests 🧪

#45 Add "Sponsor Request ❤️" workflow
  .github/workflows/label-sponsors.yml
Labels: CI 🚧, Configuration ⚙, YAML 🍄
