Repository WyriHaximus/github-action-wait-for-status, pull requests merged in 2022-04, with the labels that each got.

#105 Add note about how the Docker tags work
  .github/workflows/craft-release.yaml
Labels: YAML 🍄, Configuration ⚙, CI 🚧

#107 Add support for waiting for the first check to start
  README.md
  action.yml
  psalm.xml
  src/App.php
  src/GetStatusChecksFromCommits.php
  src/StatusCheck/Status.php
  tests/AppTest.php
  tests/GetStatusChecksFromCommitsTest.php
  tests/StatusCheck/StatusTest.php
  wait.php
Labels: YAML 🍄, Tests 🧪, Source 🔮, PHP 🐘, MarkDown 📝

#108 Test wait for status
  composer.json
  composer.lock
  tests/StatusCheck/StatusTest.php
Labels: Dependencies 📦, JSON 👨‍💼, Tests 🧪, PHP 🐘

#109 Use Trivy for image CVE scanning
  .docker/security/docker-compose.yml
  .github/workflows/ci.yml
Labels: YAML 🍄, Configuration ⚙, Docker 🐳, CI 🚧

#110 Always use latest Alpine version
  Dockerfile-build
Labels: Dependencies 📦, Docker 🐳

#106 Ensure we check all checks
  composer.json
  composer.lock
Labels: Dependencies 📦, JSON 👨‍💼, PHP 🐘
